 /*-------------
 Основные
 -------------*/

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 14px; 
  font-family: 'Roboto';
  color: rgb(0, 0, 0);
  font-weight: 700;
}

ul, nav{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

a:hover{
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  height: 100vh;

}

/*left bar*/
.left {
	display: flex;
  flex: 1;
  background-color: #2A3F54;
 }

 .circle {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #C4C4C4;
margin-left: 20px;
margin-top: 12px;
justify-content: center;
}

.server-list-left-bar {
  margin-top: 30px;
} 

.list-item {
  margin-top: 15px;
  padding-right: 30px;
}

.circle-list {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #C4C4C4;
margin-left: 9px;
margin-top: 5px;
}

.company-list {
	font-size: 14px;
  font-weight: 500;
  color: #EDEDED;
  margin-left: 40px;
  padding-top: 3px;
}

.company {
  font-weight: 500;
  color: #EDEDED;
  margin-left: 50px;
  padding-top: 10px;
 }

/*конец felt-bar*/

/*right-bar*/
.right {
  flex: 5;
  position: relative;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* конец right-bar*/

/*header*/

.header {
  flex: 0.49;
  background-color: #EDEDED;
}

.header-rights {
  padding: 5px;
  flex: 1 1 auto;
  align-self: stretch;
  background-color: #EDEDED;

}

.icone {
margin-top: -5px;
}


/*контент*/

.content {
  flex: 6;
display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  justify-content: space-around;
   
}

.project {
   color: #000;
   font-size: 26px;
   font-weight: 700;
   width: 358px;
  }

  .project-list {
font-weight: 700;
font-size: 40px;
color: #000;

}

